.customlanding-page {
    height: 100vh;
    display: grid;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(213, 29, 253, 1) 46%, rgba(252, 176, 69, 1) 100%);

    .homenav {
        border-bottom: 1px solid rgb(167, 165, 243);
        display: flex;
        gap: 16px;
        height: 16px;
        padding: 20px;
        float: right;
        padding-bottom: 40px;
        justify-content: end;

        .navSwitch{
            cursor: pointer;
        }

        .navSwitch:hover{
            color: rgb(229, 255, 0);
            cursor: pointer;
        }
    }

    .homecontent {
        padding: 30px;
        margin-left: 20px;

        .spancontent {
            .contenthead {
                margin: 0px;
            }

            .btngetstarted {
                color: white;
                height: 35px;
                background: #3221f7;
                border-radius: 6px;
                padding: 10px 16px;
            }

            .p-button {
                font-size: 14px;
                background: lawngreen;
                color: black;
                border-radius: 8px;
                height: 36px;
                border: 1px solid lawngreen;
            }

            .p-button:hover{
                background: rgb(237, 242, 232);
                border: 1px solid rgb(237, 242, 232);
            }
        }

        .imagesDiv {
            .imgDiv {
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .footer {
        border-top: 2px solid rgb(167, 165, 243);
        display: flex;

        .footer-left {
            padding: 16px;
            height: min-content;
        }

        .footer-right {
            position: absolute;
            gap: 10px;
            right: 0;
            display: grid;
            padding: 16px;

            .p-button {
                font-size: 14px;
                background: rgb(0, 160, 252);
                color: black;
                border-radius: 8px;
                height: 36px;
                border: 1px solid rgb(0, 160, 252);
            }

            .p-button:hover {
                background: rgb(205, 231, 246);
                border: 1px solid rgb(205, 231, 246);
            }
        }
    }

}