.customlanding-page {
    min-height: 250px;
    // border: 2px solid red;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(213, 29, 253, 1) 46%, rgba(252, 176, 69, 1) 100%);

    .homenav {
        display: flex;
        gap: 8px;
        padding: 20px;
        float: right;
    }

    .homecontent {
        padding: 30px;
        margin-left: 20px;

        .spancontent {
            .contenthead {margin: 0px;}
            .btngetstarted{
                color: white;
                height: 35px;
                background:#3221f7;
                border-radius: 6px;
                padding: 10px 16px;
            }
        }
    }

}