<!-- Landing Page for Book Recommender System -->
<div class="grid">
    <div class="customlanding-page">
        <div class="homenav">
            <span class="navSwitch">
                Home
            </span>
            <span class="navSwitch">
                About Us
            </span>
            <span class="navSwitch">
                Recommendations
            </span>
            <span class="navSwitch">
                Contact
            </span>
        </div>
        <div class="homecontent row">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <span class="spancontent">
                    <h1 class="contenthead">
                        Discover Your Next Favorite Book
                    </h1>
                </span>
                <span class="spancontent">
                    <p>
                        Welcome to our Book Recommender System! Get personalized book recommendations tailored just for
                        you. Explore new genres, authors, and much more.
                    </p>
                </span>
                <span class="spancontent">
                    <p-button label="Find a Book"></p-button>
                </span>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 imagesDiv">
                <!-- <div class="imgDiv">
                    <img [src]="currentImage" alt="Rotating images" class="img-fluid" />
                </div> -->
            </div>
        </div>
        <div class="footer">
            <div class="footer-left">
                &copy; 2024 Book Recommender System
            </div>
            <div class="footer-right">
                <span>Contact Us</span>
                <p-button label="Get In Touch"></p-button>
            </div>
        </div>
    </div>
</div>