<div class="grid">
    <div class="customlanding-page">
        <div class="homenav">
            <span>
                Home
               
            </span>
            <span>
                About Us

            </span>
            
        </div>
        <div class="homecontent">
                <span class="spancontent">
                    <h1 class="contenthead">
                        Landing Page
                    </h1>
                </span>
                <span class="spancontent">
                    <p>
                        This is the landing page.
                    </p>
                </span>
                <span class="spancontent">
                    <button class="btngetstarted">
                        Get Started
                    </button>
                </span>
        </div>
    </div>
    <div class="customlanding-page">
        Akshata Patil
    </div>
    <div class="customlanding-page">
        Akshata Patil
    </div>

</div>